<#@ template language="C#" #>
 
using System.Runtime.Serialization;
namespace <#= Config.Namespace #>;

[DataContract]
public sealed class <#= Config.BaseName #><#= Config.ClassSuffix #>
{
<#
for(int i = 0; i < Config.Properties.Count; i++)
{
    var ppt = Config.Properties[i];
#>
    [DataMember(Order = <#= i + 1 #>)] public <#= ppt.Type #> <#= ppt.Name #> { get; init; }
<#
}
#>
}
    