<#@ template language="C#" #>

public ValueTask<<#= Config.ReturnGenericType #><<#= Config.ResponseDto #>>> <#= Config.BaseName #>(
    <#= Config.Request #>) request, CancellationToken cancellationToken = default)
{
    return Mediate<<#= Config.Request #>, <#= Config.Action #>, <#= Config.ActionResponse #>, <#= Config.ResponseDto #>>(request,
        cancellationToken);
}