<#@ template language="C#" #>
 
using System.Runtime.Serialization;
namespace <#= Config.Namespace #>;

public sealed class <#= Config.BaseName #><#= Config.Name #>
{
<#
    
for(int i = 0; i < Config.Properties.Count; i++)
{
    var ppt = Config.Properties[i];
#>
    public <#= ppt.Type #> <#= ppt.Name #> { get; init;}
<#
}
#>
}
